{% extends 'base.html' %}

{% block content %}

<a href="{% url 'voices:upload' %}" class="btn btn-primary my-3">ファイルをアップロード</a>


<form class="my-3" method="GET">
    <label>
        <input name="search_engine" value="elasticsearch" type="radio">Elasticsearch</button>
    </label>
    <label>
        <input name="search_engine" value="meilisearch" type="radio">Meilisearch</button>
    </label>
    <input class="form-control me-2" type="search" name="text_query" value="{{ query }}" placeholder="ファイル内容から検索" aria-label="Search" required>
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>


<h2 class="my-5">ファイル一覧</h2>
        {% if voices or voice_datas %}
        <table class="table">
            <thead>
            <tr>
                <th>ファイル名</th>
                <th>アップロード日時</th>
                <th>START</th>
                <th>END</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                {% if voice_datas %}
                    {% for voice_data in voice_datas %}
                        <tr>
                            <td><a href="{% url 'voices:detail' voice_data.voice.id %}">{{ voice_data.voice.title }}</a></td>
                            <td>{{ voice_data.voice.uploaded_at }}</td>
                            <form method="GET" action="{% url 'voices:detail' voice_data.voice.id %}">
                                <input type="hidden" name="start_time" value="{{ voice_data.start_time }}">
                                <!-- <input type="hidden" name="end_time" value="{{ voice_data.end_time }}"> -->
                                <td><button class="btn btn-link p-0 m-0 align-baseline" type="submit">{{ voice_data.start_time }}</button></td>
                            </form>
                            <td>{{ voice_data.end_time }}</td>
                            <td><a href="{% url 'voices:delete' voice_data.voice.id %}" class="btn btn-danger btn-sm">削除</a></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    {% for v in voices %}
                        <tr>
                            <td><a href="{% url 'voices:detail' v.id %}">{{v.title}}</a></td>
                            <td>{{v.uploaded_at}}</td>
                            <td> - </td>
                            <td> - </td>
                            <td><a href="{% url 'voices:delete' v.id %}" class="btn btn-danger btn-sm">削除</a></td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
        {% else %}
        <p>ファイルは登録されていません</p>
        {% endif %}
{% endblock %}