{% extends 'base.html' %}

{% block content %}

<a href="{% url 'voices:upload' %}" class="btn btn-primary my-3">ファイルをアップロード</a>

<!-- 検索エンジン切り替え(ボタン版) -->
<form class="my-3" method="GET">
    <button class="btn btn-secondary" name="search_engine" value="elasticsearch" type="submit">Elasticsearch</button>
    <button class="btn btn-secondary" name="search_engine" value="meilisearch" type="submit">Meilisearch</button>
</form>

<!-- 検索エンジン切り替え(セレクトボックス版) -->
<!-- <form class="my-3" method="GET">
    <select class="form-select" name="search_engine" aria-label="Search Engine">
        <option value="" selected>検索エンジンを選択</option>
        <option value="elasticsearch">Elasticsearch</option>
        <option value="meilisearch">Meilisearch</option>
    </select>
    <input class="btn btn-secondary mt-2" type="submit" value="選択して検索">
</form> -->

<form class="d-flex" role="search" method="GET">
    <input class="form-control me-2" type="search" name="name_query" placeholder="ファイル名から検索" aria-label="Search" required>
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>


<form class="d-flex" role="search"  method="GET">
    <input class="form-control me-2" type="search" name="text_query" placeholder="ファイル内容から検索" aria-label="Search" required>
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>




<h2 class="my-5">ファイル一覧</h2>
        {% if voices %}
        <table class="table">
            <thead>
            <tr>
                <th>ファイル名</th>
                <th>アップロード日時</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for v in voices %}
            <tr>
                <!-- <td><a href="{% url 'voices:download' v.id %}">{{v.title}}</a></td> -->
                <td><a href="{% url 'voices:detail' v.id %}">{{v.title}}</a></td>
                <td>{{v.uploaded_at}}</td>
                <td><a href="{% url 'voices:delete' v.id %}" class="btn btn-danger btn-sm">削除</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>ファイルは登録されていません</p>
        {% endif %}
{% endblock %}